.backgroundcontainer{
    background-image: url("https://media.istockphoto.com/photos/the-perfect-setting-to-complete-work-picture-id1251629816?b=1&k=20&m=1251629816&s=170667a&w=0&h=HFCKUXMAXu_gsKwAaVJ5Yfc5CpXhkok4Nu1KigsAXIQ=");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1200px; */
    height: 600px;
}
.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}
.box{
    width: 500px;
    height: 40px;
    /* text-align: center; */
}

.bordert {
    border-top: 1px solid #fff;
    position: relative
}

.bordert:after {
    content: "OR";
    position: absolute;
    top: -13px;
    left: 50%;
    color: #fff;
    padding: 0px 0px
    
    
}
img {
    width: 20px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}
.input-field {
    border-radius: 5px;
    /* padding: 1px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 2px solid #ddd; */
    color: #4343ff;
    width: 500px;
    /* position: absolute; */
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 500px;
    height: 40px;
    padding-left: 30px;
   
}

.input-icons i {
    position: absolute;
}

.input-icons {
    /* width: 100%;
    margin-bottom: 10px; */
    /* float: right; */
    /* display: flex;
    justify-content: space-between; */
}

.icon {
    padding: 10px;
    min-width: 40px;
    margin-left: 470px;
}
